profiles {
  test {
    params {
      dev = false
      samplesheet = "/home/flopes/splicing_alternativo/samplesheet_bam.csv"
      genome = "/home/flopes/splicing_alternativo/GRCh38.fa"
      annotation = "/home/flopes/splicing_alternativo/GRCh38.gtf"
      outputdir = "output"
      readlen = 150
      libtype = "paired"
      rmats {
        mindiff = 0.1 
        maxfdr = 0.1
      }
      whippet {
        mindiff = 0.1
        minprob = 0.9
      }
    }
  }
  slurm {
    process {
      executor = "slurm"
      clusterOptions = "--qos=standard"
      withLabel: sm {
        cpus = 4
        memory = "8 GB"
        time = "1h"
      }
      withLabel: md {
        cpus = 8
        memory = "16 GB"
        time = "2h"
      }
      withLabel: lg {
        cpus = 16
        memory = "48 GB"
        time = "2h"
      }
    }
  }
  singularity {
    singularity {
      enabled = true
      autoMounts = true
    }
  }
  docker {
    docker {
      enabled = true
    }
  }
}
